
body, html{
    margin:0;
    height: 100%;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #f2f2f278;
    
  }
  
  .dropdown{
    position: relative;
  }
  
  #cityDropdown {
      display: flex;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      list-style-type: none;
      top: 100%;
      left: 17%;
      margin: auto;
      padding: 0;
      
      border-radius: 3px;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    
    #cityDropdown.show {
      display: block;
    }
    
    #cityDropdown li {
      padding: 10px;
      width: 150px;
      border-radius: 3px;
      cursor: pointer;
      
    }
    
    #cityDropdown li:hover {
      background-color: #e1d8d89b;
    }
  
   #cityImage {
    display: none;
    margin: 0;
   }
    
  
  #box-generale{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 100%;
    z-index: 2;
  } 
  
  .box-search{
    background-color: rgba(245, 243, 243, 0.8);
    padding: 20px;
    text-align: center;
    z-index: 8;
    margin: 10px;
  }
  
  h1{
    font-size: 50px;
    margin-bottom: 15px;
    
  }
  
  h2{
    font-size: 18px;
    margin: auto;
    font-weight: 100;
    width: 240px;
    margin-bottom: 20px;
   
    font-weight: 200px;
  }
   
    #searchButton{
      padding: 10px;
      border-radius: 3px;
      border: none;
      margin-left: 10px;
  
    }
  
    #searchButton:hover{
      background-color: #908989;
    }
  
    #cityNameInput{
      padding: 10px;
      border-radius: 3px;
      border: none;
      background-color: #f9f9f9;
      width: 150px;
    }
  
    #cityNameInput:focus{
      outline: none;
    }
  
  .d-none {
    display: none;
  }
  
  .boxGenInfo{
    height: 200px;
  }
  
  .boxInfo{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    
  }
  
  .boxInfo p{
    padding: 30px;
    text-align: center;
  }
  
  .boxInfo img{
    height: 400px;
    width: 90%;
    background-size: cover;
  }
  
  #header h2{
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
  }
  
  .categories{
    background-color: #bccbd861;
    height: 120px;
    margin: 10px;
    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  
  }
  
  .box-categorie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    gap: 20px;
  
  }
  
  
  .messageError{
    
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 24px;
  }
  
  progress {
    appearance: none;
    width: 100%;
    border: none;
    background: #ecf0f1; 
    border-radius: 10px;
  }
  
  progress::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.51); 
    border-radius: 10px;
    height: 10px;
  }
  
  progress::-webkit-progress-value {
    background: #3e4658; 
    border-radius: 10px;
  }
  
  
  #summary{
    padding: 10px;
    
    margin: 10px;
  }
  
  #cityImage {
    display: none;
  }
  
  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8; 
    background-size: cover;
    z-index:-1;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
  }
  
  .social{
    margin-top:10px;
    
  }
  
  #footer{
    background-color: #bccbd883;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    
   
  }
  
  #footer p{
    font-size: 12px;
    font-weight: 200;
    
  }
  
  
  @media only screen and (max-width:700px){
    #footer{
      flex-direction: column;
      text-align: center;
    }
  }